.tmp
.sass-cache
*.keystore
*.sw*

*.c
*.h
*.xib

www/lib
node_modules/
platforms/
plugins/
.brackets.json

www/vendor
www/bower_components
node_modules

resources/ios
resources/android
resources/

.idea/*

dist