<ui-view>
    <div>
        <div class="card">
            <h2> What is a Community Health Worker?</h2>

            <p> A Community Health Worker is a trusted member of the community that has a close understanding of the
                ethnicity, language, socio-economic status and life experiences of the community served. A CHW helps
                people gain access to needed information or services while increasing health knowledge and
                self-sufficiency of the community through activities such as outreach, patient navigation and follow-up,
                community health education, informal counseling, social support, advocacy and participation in clinical
                research. </p>

            <p> Community Health Workers are called upon to help individuals and families identify the different
                elements of health in their environment, provide information to increase the health literacy of
                individuals and communities, provide a gateway into the healthcare system, encourage healthy behaviors
                and support the collective actions that improve health for everyone. </p>

            <p> There are 788 certified Community Health Workers in Region 3 according to the 2013 Annual Report of the
                CHW Training and Certification State Advisory Committee. </p>
        </div>
        <div class="card">
            <h2> The App </h2>

            <p> The CHW App is intended to connect training centers to Community Health Workers by making information
                about courses more easily accessible to the public.
            </p>

            <p> The app was created by Data Analytics in Student Hands (DASH), an Honors College organization with
                contributions by Christopher Holley, Carl Stephen, Vu Nguyen, Hejal Soni, Binh Tran, Chris Robinson and
                Cosme Castillo. Thank you to BrowserStack for providing the cross browser testing tools! </p>
            <img src="img/DASH-rec.jpg" height="85px">
        </div>
    </div>
</ui-view>
