<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Add Training Center</h4>
    </div>
    <div class="modal-body">
        <label class="item-input">
            <span class="input-label">Center Name</span>
            <input type="text" ng-model="newGroup.name" placeholder="">
        </label>
        <label class="item-input">
            <span class="input-label">Description</span>
            <input type="text" ng-model="newGroup.description" placeholder="">
        </label>
        <label class="item-input">
            <span class="input-label">Address</span>
            <input type="text" ng-model="newGroup.address" placeholder="">
        </label>
        <label class="item-input">
            <span class="input-label">Contact Name</span>
            <input type="text" ng-model="newGroup.contact_name" placeholder="">
        </label>
        <label class="item-input">
            <span class="input-label">Phone Number</span>
            <input type="text" ng-model="newGroup.phone_number" placeholder="">
        </label>
        <label class="item-input">
            <span class="input-label">E-Mail</span>
            <input type="text" ng-model="newGroup.email" placeholder="">
        </label>
        <label class="item-input">
            <span class="input-label">Website</span>
            <input type="text" ng-model="newGroup.website" placeholder="">
        </label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Close</button>
        <button class="btn btn-primary" ng-click="ok()">Submit</button>
    </div>
</div>
