<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Training Center</h4>
    </div>
    <div class="modal-body">
        <label class="item-input">
            <input type="text" ng-model="newGroup.name" placeholder="Center Name">
        </label>
        <label class="item-input">
            <input type="text" ng-model="newGroup.description" placeholder="Center Description">
        </label>
        <label class="item-input">
            <input type="text" ng-model="newGroup.address" placeholder="Center Address">
        </label>
        <label class="item-input">
            <input type="text" ng-model="newGroup.contact_name" placeholder="Center Contact - Name">
        </label>
        <label class="item-input">
            <input type="text" ng-model="newGroup.phone_number" placeholder="Center Contact - Phone Number">
        </label>
        <label class="item-input">
            <input type="text" ng-model="newGroup.email" placeholder="Center Contact - E-Mail">
        </label>
        <label class="item-input">
            <input type="text" ng-model="newGroup.website" placeholder="Center Website">
        </label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Close</button>
        <button class="btn btn-primary" ng-click="ok()">Submit</button>
    </div>
</div>
