<ui-view>
    <script>
        $('.searchButton').click(function () {
            $('.row-offcanvas').toggleClass('active');
            $('.overlay').toggleClass('active');
            $('body').toggleClass('sidebar');
            // $('body').css('overflow', 'hidden');
            // $('.overlay').css({ 'display': "block" });
        });
        $('.overlay').click(function () {
            $('.row-offcanvas').removeClass('active');
            $('.overlay').removeClass('active');
            $('body').removeClass('sidebar')
            // $('.overlay').css({ 'display': "block" });
        });
        // $('#offcanvas').toggle(
        //     function () {
        //     $('.row-offcanvas').addClass('active');
        //     $('.overlay').css({ 'display': "block" });
        //     }, 
        //     function () {
        //     $('.row-offcanvas').removeClass('active');
        //     $('.overlay').css({ 'display': "none" });
        // });
    </script>

    <div class="item-input-wrapper searchbar">
        <button type="button" class=" pull-left searchButton" id="offcanvas" data-target=".sidebar-nav">
            <span class="fa fa-search-plus"></span>
        </button>
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input ng-init="query = {finished: 0, active:1};" ng-model="query.name" type="search" placeholder="Search"
               class="ng-pristine ng-valid ng-touched">
    </div>

    <div class="row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas fixed" id="sidebar" role="navigation">
            <ng-include src="'partials/sidebar.html'"></ng-include>
        </div>
        <!-- main area -->
        <div class="col-xs-12 col-sm-9 search-content">
            <div class="list card my-item"
                 ng-repeat="task in tasks | orderBy: 'time' | filter: query | selectCores: indexCoresInput">
                <div class="item item-avatar item-icon-right" ng-click="viewTask(task.id)">
                    <img src="img/classes-icon.png"/>

                    <h2> {{task.name}}&nbsp <span class="medal"> <i ng-show="task.active==0" class="ion-eye-disabled"></i></span></h2>

                    <p>Location: {{task.group.name}}</p>

                    <p ng-show="task.time">Date: {{task.time | date:'MM/dd/yyyy @ h:mma'}}</p>

                    <p ng-show="!task.time">{{task.datetime}}</p>
                    <i ng-show="task.forCHW==1" class="medal medal-badge medal-top ion-university"><span
                        ng-hide="!$exposeAside.active"> Instructor</span></i>
                    <i ng-show="task.forCredit==1" class="medal medal-badge medal-bottom ion-ribbon-b"><span
                        ng-hide="!$exposeAside.active"> Credits</span></i>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="viewTask(task.id)">
                        <i class="icon fa fa-info-circle"></i>
                        Info
                    </a>
                    <a class="tab-item" ng-click="joinTask(task.id)"
                       ng-show="!isGuest && !task.isMember && !(task.isManager || task.isGroupManager || isAdm || isMod || isMan)">
                        <i class="icon ion-ios7-people"></i>
                        Add to Wish List
                    </a>
                    <a class="tab-item" ng-click="leaveTask(task.id)"
                       ng-show="task.isMember && !(task.isManager || task.isGroupManager || isAdm || isMod || isMan)">
                        <i class="icon ion-ios7-people"></i>
                        Remove from Wish List
                    </a>
                </div>
            </div>
        </div>
        <!-- /.col-xs-12 main -->
    </div>
    <!--/.row-->
    </div><!--/.page-container-->
</ui-view>
