<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Edit Class</h4>
    </div>
    <div class="modal-body">
        <label class="item-input">
            <span class="input-label">Name</span>
            <input id="name" type="text" ng-model="editTask.name" required/>
        </label>
        <label class="item-input">
            <span class="input-label">Select Date & Time</span>
            <!-- place .dropdown div here set date time here -->
        </label>
        <ul>
            <div class="dropdown">
                <a class="dropdown-toggle" id="expiration" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input size="16" value="{{newTask.time | date:'MM-dd-yyyy hh:mm a'}}" id="class_time"
                               type="text">
                        <!-- class="form-control" -->
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="newTask.time"
                                    data-datetimepicker-config="{ dropdownSelector: '#class_time' }"/>
                </ul>
            </div>
        </ul>
        <label class="item-input">
            <span class="input-label">Duration</span>
            <input id="duration" type="number" ng-model="editTask.duration" step="any"/>
        </label>
        <label class="item-input">
            <span class="input-label">Description</span>
            <textarea id="description" ng-model="editTask.description" rows="4"></textarea>
        </label>

        <ul class="button-bar">
            <li class="item clear item-checkbox">
                <label class="checkbox">
                    <input type='checkbox' ng-model="newTask.active" ng-true-value="1" ng-false-value="0">
                </label>
                <i class="medal-popup fa fa-check-circle-o fa-fw"></i> Active
            </li>
            <li class="item clear item-checkbox">
                <label class="checkbox">
                    <input type='checkbox' ng-model="newTask.forCHW" ng-true-value="1" ng-false-value="0">
                </label>
                <i class="medal-popup fa fa-graduation-cap fa-fw"></i> Instructor
            </li>
            <li class="item clear item-checkbox">
                <label class="checkbox">
                    <input type='checkbox' ng-model="newTask.forCredit" ng-true-value="1" ng-false-value="0">
                </label>
                <i class="medal-popup fa fa-certificate fa-fw"></i> Credit
            </li>
        </ul>

        <label class="item-input">
            <span class="input-label"> Cores </span>
        </label>
        <ul class="">
            <li class="item clear item-checkbox" ng-repeat="($index, option) in badgeOptions">
                <label class="checkbox">
                    <input type='checkbox' checklist-model="editTask.cores" checklist-value="$index">
                </label>
                {{option}}
            </li>
        </ul>
        <label class="item-input">
            <span class="input-label">Room</span>
            <input id="room" type="text" ng-model="editTask.room"/>
        </label>
        <label class="item-input">
            <span class="input-label">Address</span>
            <input id="location" type="text" ng-model="editTask.address"/>
        </label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="duplicate()">Save As New</button>
        <button class="btn btn-primary" ng-click="ok()">Submit</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
