<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Edit Class</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <div style="margin-top:50px;">
        <label class=" item-input">
            <span class="input-label">Name</span>
            <input id="name" type="text" ng-model="$parent.editTask.name" required/>
        </label>
        <label class=" item-input" ng-click="openDatePickerEdit()">
            <span class="input-label">Select Date & Time</span>
            <input type="text" ng-model="$parent.editTask.time">
        </label>
        <label class=" item-input">
            <span class="input-label">Duration</span>
            <input id="duration" type="number" ng-model="$parent.editTask.duration" step="any"/>
        </label>
        <label class=" item-input">
            <span class="input-label">Description</span>
            <textarea id="description" type="text" ng-model="$parent.editTask.description" rows="6"></textarea>
        </label>
        <label class=" item-input">
            <span class="input-label">Room</span>
            <input id="room" type="text" ng-model="$parent.editTask.room"/>
        </label>
        <label class=" item-input">
            <span class="input-label">Address</span>
            <input id="location" type="text" ng-model="$parent.editTask.address"/>
        </label>
        <button class="button button-full button-dark submit" ng-click="ok()">Submit</button>
    </div>
</ion-modal-view>
