<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Edit Class</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <div class="">
        <label class=" item-input">
            <input id="name" type="text" ng-model="$parent.editTask.name" placeholder="Name" required/>
        </label>
        <label class=" item-input" ng-click="openDatePickerEdit()">
                <input type="text" ng-model="$parent.editTask.time" placeholder="Select Date & Time">
        </label>
        <label class=" item-input">
            <input id="duration" type="number" ng-model="$parent.editTask.duration" step="any" placeholder="Duration"/>
        </label>
        <label class=" item-input">
            <textarea id="description" type="text" ng-model="$parent.editTask.description" placeholder="Description" rows="6"></textarea>
        </label>
        <label class=" item-input">
            <input id="room" type="text" ng-model="$parent.editTask.room" placeholder="Location"/>
        </label>
        <label class=" item-input">
            <input id="location" type="text" ng-model="$parent.editTask.address" placeholder="Location"/>
        </label>
        <button class="button button-full button-dark submit" ng-click="ok()">Submit</button>
    </div>
</ion-modal-view>
