<ui-view title="{{group.name}}" ng-controller="taskController">
    <div class="item item-button-right">
        <h1> {{group.name}}</h1>
    </div>
    <div class="item item-text-wrap">
        <p> {{group.description}} </p>
    </div>
    <div class="item item-divider"><h2>Contact Info</h2></div>
    <div class="item item-text-wrap">
        <b>Address</b>
        <br/>
        {{group.address}}
        <br/>
        <br/>
        <b> Contact Details </b>
        <br/>
        {{group.contact_name}}
        <br/>
        {{group.phone_number}}
        <br/>
        {{group.email}}
        <br/>
        <br/>
        <a ng-href='{{group.website}}' ng-show='group.website' target="_blank">Website</a>
    </div>
    <div class="item item-divider"><b>Location</b></div>
    <googlemaps ng-show="group.address" class="google-maps" options="map"
                style="width: auto; height: 500px;"></googlemaps>
</ui-view>
