<ui-view title="Classes">

    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
    </label>

    <script>
        $('#offcanvas').click(function () {
            $('.row-offcanvas').toggleClass('active');
            $('.overlay').toggleClass('active');
            $('body').toggleClass('sidebar');
            // $('body').css('overflow', 'hidden');
            // $('.overlay').css({ 'display': "block" });
        });
        $('.overlay').click(function () {
            $('.row-offcanvas').removeClass('active');
            $('.overlay').removeClass('active');
            $('body').removeClass('sidebar')
            // $('.overlay').css({ 'display': "block" });
        });
        // $('#offcanvas').toggle(
        //     function () {
        //     $('.row-offcanvas').addClass('active');
        //     $('.overlay').css({ 'display': "block" });
        //     }, 
        //     function () {
        //     $('.row-offcanvas').removeClass('active');
        //     $('.overlay').css({ 'display': "none" });
        // });
    </script>

    <label class="item-input-wrapper searchbar">
        <button class="button button-dark pull-right" ng-show="isAdm || isMod" ng-click="addTask()"><i
        class="glyphicon glyphicon-plus"> </i></button>
        <button class="button button-dark pull-right" ng-show="isAdm || isMod" ng-click="addTaskCSV()">
            <i class="fa fa-upload"></i> CSV
        </button>
        <button type="button" class="pull-left searchButton" id="offcanvas" data-target=".sidebar-nav">
            <span class="fa fa-search-plus"></span>
        </button>
        <input ng-init="query = {finished: 0, active:1};" ng-model="query.name" type="search" placeholder="Search"
               class="ng-pristine ng-valid ng-touched">
    </label>

    <div class="row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas fixed" id="sidebar" role="navigation">
            <ng-include src="'partials/sidebar.html'"></ng-include>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9 search-content">
            <div class="item" ng-show="tasks.length == 0 || tasks === undefined">
                <div style="text-align: center;">
                    This location doesn't seem to have any classes...
                </div>
            </div>
            <div class="list card"
                 ng-repeat="task in tasks | orderBy: 'time' | filter: query | selectCores: indexCoresInput">
                <div class="item item-avatar item-icon-right" ng-click="viewTask(task.id)">
                    <img src="img/classes-icon.png" width="60" height="50"/>

                    <h2> {{task.name}}&nbsp <span class="medal"> <i ng-show="task.active==0"
                                                                    class="ion-eye-disabled"></i></span></h2>

                    <p>Location: {{task.group.name}}</p>

                    <p ng-show="task.time">Date: {{task.time | date:'MM/dd/yyyy @ h:mma'}}</p>

                    <p ng-show="!task.time">{{task.datetime}}</p>
                    <i ng-show="task.forCHW==1" class="medal medal-badge medal-top ion-university"><span
                        ng-hide="!$exposeAside.active"> Instructor</span></i>
                    <i ng-show="task.forCredit==1" class="medal medal-badge medal-bottom ion-ribbon-b"><span
                        ng-hide="!$exposeAside.active"> Credits</span></i>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left" ng-show="!isGuest">
                    <a class="tab-item" ng-click="joinTask(task.id)"
                       ng-show="!task.isMember && !(task.isManager || task.isGroupManager || isAdm || isMod)">
                        <i class="icon fa fa-flag"></i>
                        Add to Wishlist
                    </a>
                    <a class="tab-item" ng-click="leaveTask(task.id)"
                       ng-show="task.isMember && !(task.isManager || task.isGroupManager || isAdm || isMod)">
                        <i class="icon fa fa-flag-o"></i>
                        Remove from Wishlist
                    </a>
                    <a class="tab-item" ng-click="popOverClick('Edit', task.id)"
                       ng-show="task.isManager || task.isGroupManager || isAdm || isMod">
                        <i class="icon fa fa-edit"></i>
                        Edit Class Info
                    </a>
                    <a class="tab-item" ng-click="popOverClick('Delete', task.id)"
                       ng-show="task.isManager || task.isGroupManager || isAdm || isMod">
                        <i class="icon fa fa-trash"></i>
                        Delete Class
                    </a>
                </div>
            </div>
        </div>
        <!-- /.col-xs-12 main -->
    </div>
    <!--/.row-->

    </div><!--/.page-container-->

</ui-view>
