<ion-view>
    <ion-slide-box auto-play="true" does-continue="true" on-slide-changed="slideChanged(index)" style="height:150px; background-color: #2ecc71">
<!--         <ion-slide>
            <img style="position:absolute; bottom: 15px; left: 15px; opacity: .6" src="img/slider/title.png">
            <img style="width:100%;" src="http://www.utsystem.edu/sites/utsfiles/imagecache/Institutions-Slideshow/images/institutions/slideshow/md-anderson-pictures-2008-030.jpg">
        </ion-slide>
        <ion-slide>
            <img style="width:100%;" src="http://www.utsystem.edu/sites/utsfiles/imagecache/Institutions-Slideshow/images/institutions/slideshow/md-anderson-pictures-2008-004.jpg">
        </ion-slide>
        <ion-slide>
            <img style="width:100%;" src="http://www.utsystem.edu/sites/utsfiles/imagecache/Institutions-Slideshow/images/institutions/slideshow/md-anderson-pictures-2008-038.jpg">
        </ion-slide> -->
        <ion-slide>
            <img style="width:100%;" src="img/slider/collage1.jpg">
        </ion-slide>
        <ion-slide>
            <img style="width:100%;" src="img/slider/collage2.jpg">
        </ion-slide>
    </ion-slide-box>
</ion-view>
