<!-- <ng-include src="'partials/menuBar.html'"></ng-include> -->
<div ui-view="menuBar"></div>
<div class="app">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="btn-group pull-left">
            <button class="button button-icon ion-ios7-arrow-back" ng-click="toprevState()" ng-show="curState=='home.task' || prevState=='home.group'|| prevState=='home.group.tasks'"> Back</button> 
            <!-- <button class="button button-icon" ng-click="printState()"> Print</button> -->
            <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                <i class="fa fa-bars"></i> Menu
            </div>
        </div>
    </div>
    <div class="navbar navbar-app navbar-absolute-bottom">
        <!-- <div class="btn-group text-center"> -->
            <!-- <div class="btn btn-navbar navbar-brand-center"> -->
                <button style="position:absolute;right:50%" style="margin-left: auto;margin-right: auto; float:none" ui-sref="home.login" ng-show="isGuest">Log In</button>
                <img style="position:absolute;right:0;padding:3px" height="36px" width="36px" src="img/logo-interlocking-uh-white.png"/>
                <img style="position:absolute;left:0;padding:3px" height="38px" src="img/DASH-rec.jpg"/>
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <div class='app-body'>
        <div class='app-content'>
            <div ui-view="app"></div>
        </div>
    </div>
</div>
<!-- <ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button class="button-icon ion-ios7-arrow-back"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button ng-hide="$exposeAside.active" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon" ui-sref="login" ng-show="isGuest">Log In</button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="app"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu expose-aside-when="large">
        
        <ion-header-bar class="bar-dark">
                <h1 class="title" ng-hide="!$exposeAside.active" class="button button-icon" style="pointer-events: none;" ng-show="!isGuest">Welcome, {{uin}}!</h1>
        </ion-header-bar>
    </ion-side-menu>
</ion-side-menus> -->
<!--
<ion-footer-bar align-title="left" class="">
    <img style="position:absolute;right:0;padding:3px" height="36px" width="36px" src="img/logo-interlocking-uh-white.png"/>
    <img style="position:absolute;left:0;padding:3px" height="38px" src="img/DASH-rec.jpg"/>
</ion-footer-bar>
-->
