<ui-view title="Home" hide-back-button="true">
    <div>
        <div style="text-align: center;">
            <p>
                <br>

            <h1>Welcome to the Community Health Workers App!</h1></br>
            <br> Go to "Available Classes" to see all available classes in your area.</br>
            <br> Go to "Training Centers" to locate all training centers and to see what classes they provide.</br>
            <br> Go to "Calendar" to see all of the classes in a calendar format.</br>
            <br> Go to "Settings" to log out.</br>
            <br> Go to "About" to learn more information about CHWs and the app.</br>
            </p>
            <img src="img/DASH-rec.jpg" height="85px">
        </div>
    </div>
</ui-view>
