<ion-view title="Home" hide-back-button="true">
<ion-content class="homepage">
    <div>
        <!--<h1>1. Paragraph explaining the purpose of the website tool</h1>-->
        <p>
            Community Health Workers are called upon to help individuals and families identify the different elements of health in their environment, provide information to increase the health literacy of individuals and communities, provide a gateway into the healthcare system, encourage healthy behaviors and support the collective actions that improve health for everyone.
        </p>
        <p>
            A Community Health Worker is a  trusted member of the community that has a close understanding of the ethnicity, language, socio-economic status and life experiences of the community served. A CHW helps people gain access to needed information or services while
            increasing health knowledge and self-sufficiency of the community through activities such as outreach, patient navigation and follow-up, community health education, informal counseling, social support, advocacy and participation in clinical research.
        </p>
        <p>
            There are 788 certified Community Health Workers in Region 3 according to the 2013 Annual Report of the CHW Training and Certification State Advisory Committee.
        </p>
    </div>
    <!--<div>-->
        <!--<h1>2. Instructions on how to use the site</h1>-->
    <!--</div>-->
</ion-content>
</ion-view>
