<ui-view title="My Certificates">
    <ion-nav-buttons side='secondary'>
        <button class="button button-dark button-clear text-center" ui-sref="home.myHours">
            <i class="fa fa-plus-circle"></i>
        </button>
    </ion-nav-buttons>
    <div class="list" ng-if="!entries || entries.length==0">
        <div class="item">
            <div style="text-align: center;">No certificates have been recorded.</div>
        </div>
    </div>
    <div class="list">
        <div class="item item-thumbnail-left item-button-right" ng-repeat="entry in entries | orderBy: 'id' : true">
            <h2> Class - {{entry.title}} </h2>

            <p ng-show="entry.duration"> {{entry.duration}} Hours </p>
            <button type="button" class="button button-dark" ng-click="deleteHour(entry.id)">Delete</button>
        </div>
    </div>
</ui-view>
