<ion-view title="My Certificates">
<ion-nav-buttons side='secondary'>
    <button class="button button-clear" ui-sref="home.myHours">
        <i class="icon ion-plus-round"></i>
    </button>
</ion-nav-buttons>
<ion-content>
    <div class="list" ng-if="!entries || entries.length==0">
        <div class="item">
            <center>No certificates have been recorded.</center>
        </div>
    </div>
    <div class="list">
        <div class="item item-thumbnail-left item-button-right" ng-repeat="entry in entries | orderBy: 'id' : true">
            <!--<a>
                <img class="item-image" ng-click="goToLink('{{serverRootUpload}}uploads/chwapp/hours{{entry.picturePath}}/{{entry.profile_picture_filename}}')" ng-if="entry.profile_picture_filename!==undefined" ng-src="{{serverRootUpload}}uploads/chwapp/hours{{entry.picturePath}}/{{entry.profile_picture_filename}}" href="{{serverRootUpload}}uploads/chwapp/hours{{entry.picturePath}}/{{entry.profile_picture_filename}}" target="self" download/>
                <img class="item-image" ng-if="entry.profile_picture_filename===undefined" ng-src="http://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"/>
            </a>-->

            <h2> Class - {{entry.title}} </h2>
            <p ng-show="entry.duration"> {{entry.duration}} Hours </p>
             <button type="button" class="button button-dark"  ng-click="deleteHour(entry.id)">Delete</button>
        </div>
    </div>
    <!-- It worked -->
</ion-content>
</ion-view>
