<ion-view title="My Certificates">
<ion-nav-buttons side='primary'>
    <button class="button button-dark" ui-sref="home.myHours">
        <i class="icon ion-plus-round"></i>
    </button>
</ion-nav-buttons>
<ion-content>
    <div class="list" ng-if="!entries || entries.length==0">
        <div class="item">
            <center>No certificates have been recorded.</center>
        </div>
    </div>
    <div class="list">
        <div class="item item-icon-right" ng-repeat="entry in entries">
            <h2> Class - {{entry.title}} </h2>
            <p ng-show="entry.duration"> {{entry.duration}} Hours </p>
            <a ng-href="{{serverRoot}}uploads/chwapp/hours{{entry.picturePath}}/{{entry.profile_picture_filename}}" download target="_blank">
                <img target="_self" ng-click="download()" ng-if="entry.profile_picture_filename" style="float: right;margin-top:-50px;margin-right:-90px;" ng-src="{{serverRoot}}uploads/chwapp/hours{{entry.picturePath}}/{{entry.profile_picture_filename}}" height="100" width="100">
            </a>
        </div>
    </div>
</ion-content>
</ion-view>
