<ion-view title="Menu">
    <ion-content>
        <ul class="list dark">
            <!--<li>-->
                <!--<a ui-sref-active="active" class="item ion-ios7-home-outline" menu-close nav-clear ui-sref="home.availableClasses">-->
                    <!--WIP - Home-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a ui-sref-active="active" class="item ion-ios7-home-outline" menu-close nav-clear ui-sref="home.availableClasses">
                    Available Classes
                </a>
            </li>
            <li>
                <a ui-sref-active="active" class="item ion-ios7-people" menu-close nav-clear ui-sref="home.myGroups">
                    Location
                </a>
            </li>
            <li ng-show="!isGuest">
                <a ui-sref-active="active" class="item ion-ios7-person" menu-close nav-clear ui-sref="home.myTasks">
                    My Wish List
                </a>
            </li>
            <!--
                <li>
                    <a class="item" menu-close nav-clear ui-sref="home.myInvites">
                        WIP - My Invites
                    </a>
                </li>
            -->
            <!--<li>
                <a ui-sref-active="active" class="item ion-ionic" menu-close nav-clear ui-sref="home.awards">
                    Badges
                </a>
            </li>-->
            <li ng-show="!isGuest">
                <a ui-sref-active="active" class="item ion-calendar" menu-close nav-clear ui-sref="home.calendar">
                    Calendar
                </a>
            </li>
            <!--<li>
                <a ui-sref-active="active" class="item ion-ios7-bookmarks" menu-close nav-clear ng-show="isAdm" ui-sref="home.hours_mod">
                    Hours Moderation
                </a>
            </li>-->
            <!--<li>
                <a ui-sref-active="active" class="item ion-clock" menu-close nav-clear ui-sref="home.hours">
                    My Certificates
                </a>
            </li>-->
            <li ng-show="!isGuest">
                <a ui-sref-active="active" class="item ion-ios7-gear-outline" menu-close nav-clear ui-sref="home.settings">
                    Settings
                </a>
            </li>
            <li ng-show="isGuest">
                <a ui-sref-active="active" class="item ion-ios7-gear-outline" menu-close nav-clear ui-sref="login">
                    Login
                </a>
            </li>
        </ul>
    </ion-content>
</ion-view>
