<ui-view title="" cache-view="false">
    <button class="button button-dark button-clear text-center" ng-show="isAdm || isMod" ng-click="addGroup()"><i
        class="glyphicon glyphicon-plus"> </i> Add a Center
    </button>
    <div class="item" ng-show="groups.length == 0 || groups === undefined">
        <div style="text-align: center;">
            There are no training centers to show right now. <br/>
        </div>
    </div>
    <div class="list card" ng-repeat="group in groups">
        <div class="item item-avatar" ng-click="viewGroup(group.id)">
            <img id="groupfeed" ng-src="{{serverRoot}}images/CHW_app/{{group.image_folder}}/icon.jpg"/>
            <h2> {{group.name}} </h2>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ui-sref="home.group.tasks({id: group.id})">
                <i class="icon fa fa-institution"></i>
                Classes
            </a>
            <a class="tab-item" ng-click="popOverClick('Edit', group.id)" ng-show="group.isManager || isAdm">
                <i class="icon fa fa-edit"></i>
                Edit Training Center Info
            </a>
        </div>
    </div>
</ui-view>
