<ui-view title="My Classes">
    <ion-nav-buttons side='secondary'>
        <button class="button button-dark button-clear text-center" ng-click="updateTasks(true)"><i class="fa fa-refresh"></i></button>
    </ion-nav-buttons>
    <div class="item" ng-show="tasks.length == 0 || tasks === undefined">
        <div style="text-align: center;">
            There are no classes in your wish list! <br/>
            Add classes to wish list to track.
        </div>
    </div>
    <div class="list card my-item" ng-repeat="task in tasks">
        <div class="item item-avatar item-icon-right" ng-click="viewTask(task.id)">
            <img src="img/classes-icon.png"/>

            <h2>{{task.name}}</h2>

            <p>{{task.time | date:'MM/dd/yyyy @ h:mma'}}</p>
            <i ng-show="task.finished == 1" class="icon ion-ios7-checkmark-outline"></i>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left" ng-show="!isGuest">
            <a class="tab-item" ng-click="joinTask(task.id)" ng-show="!task.isMember">
                <i class="icon ion-ios7-people"></i>
                Add to Wishlist
            </a>
            <a class="tab-item" ng-click="leaveTask(task.id)" ng-show="task.isMember">
                <i class="icon ion-ios7-people"></i>
                Remove from Wishlist
            </a>
            <a class="tab-item" ng-show="actionCount(task.id)" ng-click="showActions(task.id, $event)">
                <i class="icon ion-ios7-more"></i>
            </a>
        </div>
    </div>

   <!--  <div class="list card my-item" ng-repeat="task in tasks | orderBy: 'time' | filter: query | selectCores: indexCoresInput">
        <div class="item item-avatar item-icon-right" ng-click="viewTask(task.id)">
            <img src="img/classes-icon.png" width="60" height="50"/>

            <h2> {{task.name}}&nbsp <span class="medal"> <i ng-show="task.active==0" class="ion-eye-disabled"></i></span></h2>

            <p>Location: {{task.group.name}}</p>

            <p ng-show="task.time">Date: {{task.time | date:'MM/dd/yyyy @ h:mma'}}</p>

            <p ng-show="!task.time">{{task.datetime}}</p>
            <i ng-show="task.forCHW==1" class="medal medal-badge medal-top ion-university"><span
                ng-hide="!$exposeAside.active"> Instructor</span></i>
            <i ng-show="task.forCredit==1" class="medal medal-badge medal-bottom ion-ribbon-b"><span
                ng-hide="!$exposeAside.active"> Credits</span></i>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click="viewTask(task.id)">
                <i class="icon fa fa-info-circle"></i>
                Info
            </a>
            <a class="tab-item" ng-click="joinTask(task.id)"
               ng-show="!isGuest && !task.isMember && !(task.isManager || task.isGroupManager || isAdm || isMod || isMan)">
                <i class="icon ion-ios7-people"></i>
                Add to Wish List
            </a>
            <a class="tab-item" ng-click="leaveTask(task.id)"
               ng-show="task.isMember && !(task.isManager || task.isGroupManager || isAdm || isMod || isMan)">
                <i class="icon ion-ios7-people"></i>
                Remove from Wish List
            </a>
        </div>
    </div> -->
</ui-view>
