<div class="scroll-x">
    <label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-checkmark-circled"></i> Finished
    </div>
    <select ng-model="query.finished" ng-init="query.finished='0'">
        <option value="1">Past</option>
        <option value="0">Future</option>
        <option value="">Both</option>
    </select>
</label>
<label class="item item-input item-select" ng-show="isAdm || isMod">
    <div class="input-label">
        <i class="medal-popup ion-eye"></i> Active
    </div>
    <select ng-model="query.active">
        <option value="1">Active</option>
        <option value="0">Inactive</option>
        <option value="">Both</option>
    </select>
</label>
<label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-university"></i> Instructor
    </div>
    <select ng-model="query.forCHW">
        <option value="1">Yes</option>
        <option value="0">No</option>
        <option value="">Both</option>
    </select>
</label>
<label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-ribbon-b"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
</label>
<!-- dummy -->
<!-- <label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-ribbon-b"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
</label><label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-ribbon-b"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
</label><label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-ribbon-b"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
</label><label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-ribbon-b"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
</label><label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup ion-ribbon-b"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
</label> -->
<!-- end dummy -->
<div class="input-label">
    <i class="medal-popup ion-compose"></i> Cores
</div>
<isteven-multi-select
    input-model="badgeMultiSelect"
    output-model="$parent.$parent.$parent.$parent.$parent.$parent.output"
    button-label=""dummy
    item-label="icon name maker"
    tick-property="ticked"
    orientation="horizontal"
    helper-elements="all,none"
    max-labels="0"
    style="float: left; margin-top: 15px; margin-left: 15px;">
</isteven-multi-select>
</div>

