<ion-popover-view>
    <ion-header-bar>
      <h1 class="title">FTitle</h1>
    </ion-header-bar>
    <ion-content>
          <div class="list">
            <a class="item"  target="_blank">
              Finished
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Active
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              isInstructor
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              forCredit
            </a>
          </div>
    </ion-content>
  </ion-popover-view>