<script type="text/javascript">
// $(document).ready(function(){
//     $('[data-toggle="tooltip"]').tooltip({
//         template: '<div class="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-head"><h3><span class="glyphicon glyphicon-info-sign"></span> Tooltip</h3></div><h4 class="tooltip-inner"></h4></div>'
//     });   
// });
</script>

<div style="">
    <h4>Search Filter</h4>
</div>
<label class="item item-input item-select" data-toggle="tooltip" data-placement="bottom" title="Date!: Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <div class="input-label">
        <i class="medal-popup fa fa-dot-circle-o fa-fw"></i> Date
    </div>
    <select ng-model="query.finished" ng-init="query.finished='0'">
        <option value="1">Past Classes</option>
        <option value="0">Upcomming Classes</option>
        <option value="">Both</option>
    </select>
    <div style="clear:both"></div>
</label>
<label class="item item-input item-select" ng-show="isAdm || isMod" ng-init="query.active='1'" data-toggle="tooltip" data-placement="bottom" title="Active!: Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <div class="input-label">
        <i class="medal-popup fa fa-check-circle-o fa-fw"></i> Active
    </div>
    <select ng-model="query.active">
        <option value="1">Active</option>
        <option value="0">Inactive</option>
        <option value="">Both</option>
    </select>
    <div style="clear:both"></div>
</label>
<label class="item item-input item-select" data-toggle="tooltip" data-placement="bottom" title="Audience!: Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <div class="input-label">
        <i class="medal-popup fa fa-graduation-cap fa-fw"></i> Audience
    </div>
    <select ng-model="query.forCHW">
        <option value="1">Instructor</option>
        <option value="0">Community Health Workers</option>
        <option value="">Everyone</option>
    </select>
    <div style="clear:both"></div>
</label>
<label class="item item-input item-select" data-toggle="tooltip" data-placement="bottom" title="Credit!: Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <div class="input-label" >
        <i class="medal-popup fa fa-certificate fa-fw"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">CHW CEU Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
    <div style="clear:both"></div>
</label>
<label class="item item-input" data-toggle="tooltip" data-placement="bottom" title="Cores!: Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <div class="input-label">
        <i class="medal-popup fa fa-list fa-fw"></i> Cores
    </div>
    <isteven-multi-select
        input-model="badgeMultiSelect"
        output-model="$parent.$parent.output"
        button-label="" dummy
        item-label="icon name maker"
        tick-property="ticked"
        orientation="horizontal"
        helper-elements="all,none"
        max-labels="0"
    >
    </isteven-multi-select>
</label>