<!-- <div class="scroll-x"> -->
<label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup fa fa-dot-circle-o fa-fw"></i> Date
    </div>
    <select ng-model="query.finished" ng-init="query.finished='0'">
        <option value="1">Past</option>
        <option value="0">Future</option>
        <option value="">Both</option>
    </select>
</label>
<label class="item item-input item-select" ng-show="isAdm || isMod">
    <div class="input-label">
        <i class="medal-popup fa fa-check-circle-o fa-fw"></i> Active
    </div>
    <select ng-model="query.active">
        <option value="1">Active</option>
        <option value="0">Inactive</option>
        <option value="">Both</option>
    </select>
</label>
<label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup fa fa-graduation-cap fa-fw"></i> Instructor
    </div>
    <select ng-model="query.forCHW">
        <option value="1">Yes</option>
        <option value="0">No</option>
        <option value="">Both</option>
    </select>
</label>
<label class="item item-input item-select">
    <div class="input-label">
        <i class="medal-popup fa fa-certificate fa-fw"></i> Credit
    </div>
    <select ng-model="query.forCredit">
        <option value="1">Credit</option>
        <option value="0">No Credit</option>
        <option value="">Both</option>
    </select>
</label>
<label class="item item-input">
    <div class="input-label">
        <i class="medal-popup fa fa-list fa-fw"></i> Cores
    </div>
    <isteven-multi-select
        input-model="badgeMultiSelect"
        output-model="$parent.$parent.output"
        button-label="" dummy
        item-label="icon name maker"
        tick-property="ticked"
        orientation="horizontal"
        helper-elements="all,none"
        max-labels="0"
    >
    </isteven-multi-select>
</label>