<ion-view title="{{task.name}}">
<ion-content>
    <ion-nav-buttons side='right' ng-controller="taskController">
        <button class="button button-dark" ng-show="task.finished == 1 && (task.isManager || isAdm || isMod)" ng-click="markUnFinished(task.id); task.finished = 0;">
            <i class="icon ion-ios7-checkmark"></i>
        </button>
        <button class="button button-dark" ng-show="task.finished == 0 && (task.isManager || isAdm || isMod)" ng-click="markFinished(task.id); task.finished = 1;">
            <i class="icon ion-ios7-checkmark-outline"></i>
        </button>
    </ion-nav-buttons>
    <div class="list">
        <div class="item" ng-show="task.description"> <b>Description: </b> {{task.description}} <span class="item-note">{{badgeConfig[task.badge_id]}}</span></div>
        <div class="item" ng-hide="task.description"> <b>Description: </b> No Description Available <span class="item-note">{{badgeConfig[task.badge_id]}}</span></div>
        <!--<div class="item"> <b>Core Competencies: </b> {{task.cores}} </div>-->
        <div class="item"> <b>Core Competencies: </b> <div ng-repeat="b_id in task.cores">{{badgeConfig[b_id]}}</div> </div>
        <div class="item" ng-show="task.room"> <b>Location: </b> {{task.room}} </div>
        <div class="item" ng-hide="task.room"> <b>Location: </b> N/A </div>
        <div class="item" ng-show="task.time && !task.datetime"> <b>Time: </b> {{task.time}} </div>
        <div class="item" ng-show="task.datetime"> <b>Time: </b> {{task.datetime}} </div>
        <div class="item" ng-hide="task.time || task.datetime"> <b>Time: </b> No time specified. </div>
        <div class="item"> <h2> Location: {{task.address}}</h2></div>
    <googlemaps ng-show="task.address" class="google-maps" options="map1"></googlemaps>
    </div>
    <!--<googlemaps ng-show="task.location" class="google-maps" options="map"></googlemaps>-->
</ion-content>
</ion-view>
