<ui-view>
    <div class="list">
        <div class="item item-button-right">
            <h1> {{task.name}}</h1>
        </div>
        <div class="item item-text-wrap" ng-show="task.description"><b>Description: </b><br> {{task.description}} <span
            class="item-note">{{badgeConfig[task.badge_id]}}</span></div>
        <div class="item" ng-hide="task.description"><b>Description: </b> No Description Available <span
            class="item-note">{{badgeConfig[task.badge_id]}}</span></div>
        <div class="item"><b>Core Competencies: </b>

            <div ng-repeat="b_id in task.cores">{{badgeConfig[b_id]}}</div>
        </div>
        <div class="item" ng-show="task.room"><b>Room: </b> {{task.room}}</div>
        <div class="item" ng-hide="task.room"><b>Room: </b> N/A</div>
        <div class="item" ng-show="task.group"><b>Location: </b> {{task.group.name}}</div>
        <div class="item" ng-show="task.time"><b>Time: </b> {{task.time | date:'MM/dd/yyyy @ h:mma'}}</div>
        <div class="item" ng-hide="task.time || task.datetime"><b>Time: </b> No time specified.</div>
        <div class="item" ng-show="task.address"><b>Address:</b>

            <p> {{task.address}}</p></div>
    </div>
    <googlemaps ng-if="task.address" class="google-maps" options="map" style="width: auto; height: 500px;"></googlemaps>
</ui-view>
