.body {
    margin-top: 70px;
    display: block;
}
.item {
    /*float: left;*/
    clear: both;
    /*display: table-row;*/
    display: block;
    padding: 5px;
}
.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    /*border: 1px solid rgba(0,0,0, 0.3);*/
}
.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #fff;
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
}

.whole_app {
    height: 100%;
}
.app {
    background: #fff !important;
}
/*.navbar-app {
    background-color: #229955 !important; 
}*/
.navbar-app .btn-navbar, .navbar-app .btn, .navbar-app .btn-navbar:hover, .navbar-app .btn:hover {
    color: white;
}
.navbar-absolute-top {
    background-color: #229955 !important;
    color: white !important;
}
.sidebar-left, .sidebar-right {
    background: #fff !important;
}

/*theme color*/
.dark, a.dark {
    color: #229955;
}
/*side menu*/
.list.dark > li > a {
    padding-left: 58px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.list.dark > li > a.item i {
    left: 0px;
    padding-left: 9px;
    padding-right: 9px;
}
.list.dark > li > a.item.active i {
    color: white;
    background-color: #229955;
}
.item-icon-left .icon, .item-icon-right .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 32px;
}
a.item {
    color: inherit;
    text-decoration: none;
}
.item {
    background-color: transparent !important;
}
.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}
/*:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image */
.item-avatar > img{
    position: absolute;
    /*float: left;*/
    top: 32px;
    left: 16px;
    /*max-width: 48px;*/
    /*max-height: 48px;*/

}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 100px;
}
/*dropdown advanced search in available classes*/
.popupSearch {
    min-width: 250px !important; 
    min-height: 300px !important; 
}
.medal-top {
    top: 15px;
}
.medal-bottom {
    top: 45px;
}
.medal-badge {
    position: absolute;
    right: 11px;
}
.medal {
    font-size: 2em;
}

/*sidebar*/
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

.row-offcanvas {
    overflow: auto;
}
/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
  .search-content {
    width:  100%;
  }
}
@media screen and (min-width: 768px) {
    .search-content {
        /*width: 100%;*/
    }
}
.search-content {
    position: relative;
    float: right;
    display: block;
}
.fixed {
    position: fixed;
}