.my-item {
  width: 96.5%;
}
/*********Login page**********/
#logo_O{
    position:fixed;
    width:70%;
    top:80px;
    left:15%;
    margin: 0 0 0 0;
    z-index: 1;
}

.log{
    position:relative;
    border-radius:5px;
    height:50px;
    width:70%;
    top:390px;
    margin: 0 15% 0 15%;
    text-align: center;
    background-color:#0BA1F4;
    z-index: 2;
    opacity: .8;
}

.log_r{
    position:relative;
    border-radius:5px;
    height:50px;
    width:80%;
    top:50px;
    margin: 5% 10% 5% 10%;
    text-align: center;
    background-color:#0BA1F4;
    z-index: 1;
    opacity: .8;
}

#register{
    position: relative;
    margin-top: 5%;
    margin-left: 50%;
    top: 370px;
    z-index: 3;
}


.google-maps {
    width: 100%;
    height: 400px;
    z-index: 10000;
}

/****************comments*******************************/
#vma_date{
    position: relative;
    color: lightgray;
    font-size:8pt;
    top: 20px;
    }
#vma_content{
    position: relative;
    bottom: 30px;
}

/***********CommunityFeed*******************************/
#vma_post_time{
    font-size: 6pt;
    color: lightgray;
}

/**********************title******************************/
.chw_title{
color: white;
}

/*.scroll-content{*/
    /*background-color:#dddddd;*/
/*}*/
#calendar{
    background-color: white;
    overflow-y: scroll;
}

/******************Setting User Pictures*********************/
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: #fff;
    background-color: #2ecc71;
}

/************************Other*****************************************/
.list-tc {

}
